# Dart/Flutter
.dart_tool/
.packages
build/
pubspec.lock
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.iml

# Flutter
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/ephemeral/
example/graph_viewer/build/
example/graph_viewer/.dart_tool/

# Native build
*.o
*.so
*.dylib
*.dll
